.homepage {
    display: flex;
    flex-direction: column;
}
.homepage__content {
    display: flex;
    flex-direction: row;
}
.questions-select {
    margin-left: 2rem; 
    display: flex;
    align-items: center;
}

@media only screen and (max-device-width: 480px) {
    .homepage__content {
        flex-direction: column;
    }
    .questions-select {
        margin: 0;
    }
}